.form-po {
  background: #FAFAFA;
  padding: 20px;
  border-bottom: solid 1px #F0F0F0;
}

.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

.ng-valid.ng-touched:not(form) {
  border: 1px solid blue;
}

.invalid-feedback {
  background-color: #7e2a2a;
  color: blue;
}

.valid-feedback {
  background-color: rgb(24, 181, 63)n;
  color: white;
}

.row-item {
  background: #FAFAFA;
  padding: 20px;
  border-bottom: solid 1px #F0F0F0;
}
