<div class="container my-space">
    <div class="oferta" *ngIf='currentOffer != undefined'>

        <div class="row">
            <div class="col">
                <h4>{{currentOffer.title}} - {{currentOffer.description}}</h4>
            </div>
        </div>

        <div class="row my-space">
            <div class="col-md-6">
                <div class="img_capa">
                    <img class="img-fluid" [src]='currentOffer.images[0].url' />
                </div>

                <div class="thumbnails">
                    <img class="img-fluid" [src]='currentOffer.images[1].url' />
                    <img class="img-fluid" [src]='currentOffer.images[2].url' />
                    <img class="img-fluid" [src]='currentOffer.images[3].url' />
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col text-center">
                        <p>Por apenas</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col text-center">
                        <h1>{{currentOffer.price | currency: 'BRL'}}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button type="button"(click)="addItemCart()" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class='row' style="margin-top: 25px; margin-bottom: 120px;">
        <div class='col'>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" [routerLink]="['how-to-use']" role="tab">Como usar?</a>
                    <a class="nav-item nav-link" data-toggle="tab" [routerLink]="['where-to-find']" role="tab">Onde fica?</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>
