<div class="container">

  <div class="secao">
    <h3 class="text-center">Cinema, viagens, diversão muito e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas para você se divertir quando quiser:</h5>
  </div>

  <hr />

  <div class="row" *ngFor="let fun of myFun">
    <div class="col-md-4">
      <img [src]='fun.images[0].url' class='img-fluid'/>
    </div>

    <div class="col-md-8">
      <div class="row">
        <h4>{{fun.title}}</h4>
      </div>

      <div class="row">
        <h5>{{fun.description}}</h5>
      </div>

      <div class="row">
        <p>Anunciado por: <b>{{fun.advertiser}}</b></p>
      </div>

      <div class="row">
        <p>R$ {{fun.price}}</p>
      </div>

      <div class="row">
        <button class="btn btn-outline-success">Ver oferta</button>
      </div>
    </div>
  </div>

</div>
